.top-navigation {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  transition: all 500ms;
  opacity: 1; }
  .top-navigation.hidden {
    opacity: 0; }
  @media (max-width: 1100px) {
    .top-navigation {
      height: 120px; } }

.site-logo {
  float: left; }
  @media (max-width: 1100px) {
    .site-logo {
      display: flex;
      flex: 1;
      justify-content: center;
      float: none;
      max-height: 120px;
      padding: 4px 0 4px 0;
      -webkit-box-sizing: content-box;
      -moz-box-sizing: content-box;
      box-sizing: content-box; } }
  @media (min-width: 1100px) {
    .site-logo img {
      position: relative;
      top: 16px; } }

.my-drawer {
  position: relative;
  overflow: auto;
  -webkit-overflow-scrolling: touch; }

.my-drawer .am-drawer-sidebar {
  background-color: #fff;
  overflow: auto;
  -webkit-overflow-scrolling: touch; }

.am-navbar-left {
  align-items: flex-start !important;
  padding-top: 25px; }

.am-navbar-title {
  padding-top: 5px;
  padding-bottom: 5px; }

.my-drawer .am-drawer-sidebar .am-list {
  width: 300px;
  padding: 0; }

.am-drawer-sidebar {
  width: 60%; }

.logo {
  width: 120px;
  height: 31px;
  background: whitesmoke;
  border-radius: 6px;
  margin: 16px 24px 16px 0;
  float: left; }

.ant-layout {
  background: #fff !important; }

@media (max-width: 1100px) {
  .ant-back-top {
    right: 25px !important;
    bottom: 25px !important; } }

.ant-form-item-control {
  display: flex;
  flex-direction: column; }

.trigger {
  font-size: 16px;
  line-height: 64px;
  cursor: pointer;
  transition: color .3s; }

.ant-layout-header {
  background: #ffffff !important; }

.ant-modal-title {
  text-align: center !important; }

.vertical-center-modal {
  text-align: center;
  white-space: nowrap; }

.vertical-center-modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  width: 0; }

.vertical-center-modal .ant-modal {
  display: inline-block;
  vertical-align: middle;
  top: 0;
  text-align: left; }

@media screen and (max-width: 768px) {
  .ant-upload.ant-upload-drag {
    width: 90vw !important; } }
@media screen and (max-width: 500px) {
  .ant-upload.ant-upload-drag .ant-upload-btn {
    padding: 0 !important; } }

@media screen and (max-width: 768px) {
  .ant-upload-hint {
    word-break: normal;
    word-wrap: break-word;
    text-overflow: clip; } }

.ant-modal {
  margin: 0 !important; }

.ant-anchor-link {
  line-height: 1.5 !important; }

.ql-editor {
  min-height: 300px; }

.quill {
  max-width: 100%; }

.group-form {
  width: 100%;
  margin: 0 auto; }

.g-recaptcha {
  display: flex;
  justify-content: center; }

.group-name {
  font-size: 36px;
  font-weight: 300;
  padding: 20px 0 0 0;
  width: 100%;
  text-align: center; }

.group-motto {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  width: 100%;
  margin-bottom: 30px; }

.group-middle {
  width: 100%;
  clear: both; }

.group-middle-title {
  font-size: 20px;
  font-weight: 400;
  text-align: left;
  width: 100%;
  padding: 10px 0; }

.group-middle-alerts {
  width: 50%;
  float: left;
  margin: 20px 0 20px 0;
  padding: 10px; }
  @media (max-width: 800px) {
    .group-middle-alerts {
      width: 80%;
      float: none;
      margin: 0 auto; } }

.group-middle-participants {
  width: 50%;
  float: left;
  margin: 20px 0 20px 0;
  padding: 10px;
  border: 1px solid #eeeeee; }
  .group-middle-participants.share-link {
    display: flex; }
  @media (max-width: 800px) {
    .group-middle-participants {
      width: 80%;
      float: none;
      margin: 0 auto; } }

.share-link-paragraph {
  font-size: 12px;
  padding: 0 0 0 5px;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.alert-sent {
  color: darkgreen;
  padding: 0 0 10px 0; }

.group-middle-participants-list {
  padding: 0 0 0 30px;
  list-style-type: square;
  word-break: break-all; }
  .group-middle-participants-list li {
    padding: 5px 0 5px 0; }
  .group-middle-participants-list li:last-child {
    margin-bottom: 10px; }

.disqus-container {
  clear: both;
  padding: 20px; }

.progress-label {
  padding: 10px 0 20px 0; }

.progress-spacing {
  padding: 10px 0 20px 0; }

.my-group-spacing {
  padding: 100px 0 190px 0;
  display: flex;
  justify-content: center; }
  @media (max-width: 800px) {
    .my-group-spacing {
      padding: 40px 0; } }

.my-group-input {
  height: 57px;
  border: 1px solid #eee;
  width: 500px;
  font-size: 24px;
  text-indent: 24px; }
  @media (max-width: 1000px) {
    .my-group-input {
      font-size: 18px; } }

.my-group-button {
  width: 108px;
  height: 57px;
  font-size: 18px;
  line-height: 57px;
  color: #fff;
  background-color: royalblue;
  text-transform: uppercase;
  font-family: "Roboto Medium", sans-serif;
  cursor: pointer;
  border: 1px solid royalblue;
  transition: all 200ms; }
  @media (max-width: 1000px) {
    .my-group-button {
      font-size: 12px; } }
  .my-group-button:active {
    opacity: 0.6; }

.group-invite-form {
  display: flex;
  justify-content: center;
  flex: 1; }

.group-invite-form-item {
  display: flex;
  flex: 1; }

.my-groups-section-header {
  font-size: 24px;
  font-weight: 600;
  width: 100%;
  text-align: center; }

.groups-list-item {
  font-size: 18px;
  font-weight: 500;
  padding: 10px 0 10px 10px;
  border: 1px solid #DCDCDC;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: rgba(0, 0, 0, 0.65);
  margin: 0 0 10px 0; }

.groups-list-item:last-child {
  margin: 0; }

.groups-list-item:hover {
  background-color: whitesmoke; }

.main-container {
  width: 1240px;
  margin: 0 auto;
  transition: all 300ms;
  opacity: 1; }
  .main-container.hidden {
    opacity: 0; }
  @media (max-width: 1100px) {
    .main-container {
      width: 80%; } }
  @media (max-width: 500px) {
    .main-container {
      width: 95%; } }

.page-header {
  font-size: 36px;
  font-weight: 600;
  padding: 20px 0 20px 0 !important;
  width: 100%;
  text-align: center;
  clear: both;
  color: rgba(0, 0, 0, 0.65); }
  .page-header.border-top {
    border-top: 1px solid #DCDCDC; }

.allergies-capsules {
  width: 33%;
  float: left;
  display: block;
  height: 400px; }
  .allergies-capsules img {
    width: 100%;
    max-height: 250px; }
  @media (max-width: 1000px) {
    .allergies-capsules {
      width: 50%; } }
  @media (max-width: 500px) {
    .allergies-capsules {
      width: 90%;
      margin: 0 auto;
      float: none; } }

.allergy-image-container {
  width: 80%;
  margin: 0 auto;
  cursor: pointer; }

.allergy-header {
  text-align: center;
  width: 100%;
  font-size: 24px;
  margin: 15px 0 5px 0;
  font-weight: 350; }
  .allergy-header a {
    color: royalblue;
    transition: all 400ms; }
    .allergy-header a:hover {
      color: #888888; }

.allergy-paragraph {
  font-size: 16px;
  text-align: center;
  margin: 0 0 10px 0; }

.confirm-selection-button-container {
  padding: 0 10px 10px 0;
  display: flex;
  justify-content: flex-end; }

.allergy-page-container {
  clear: both; }

.allergy-page-anchor-container {
  width: 20%;
  float: left;
  display: flex;
  justify-content: flex-start;
  border-right: 1px solid #DCDCDC; }
  @media (max-width: 800px) {
    .allergy-page-anchor-container {
      width: 100%;
      padding: 0 0 0 20px;
      border: 0; } }

.allergy-page-content {
  width: 70%;
  float: left;
  padding: 0 0 0 20px; }
  @media (max-width: 800px) {
    .allergy-page-content {
      width: 100%;
      padding: 20px; } }

.allergy-section-title {
  color: royalblue;
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 10px; }

.allergy-section-mid-title {
  font-size: 22px;
  font-weight: 400;
  margin: 10px 0 10px 0; }

.allergy-section-paragraph {
  font-size: 15px;
  margin: 0 0 15px 0; }

.allergy-section-list {
  padding: 0 0 0 30px;
  list-style-type: square; }
  .allergy-section-list li {
    padding: 5px 0 5px 0; }
  .allergy-section-list li:last-child {
    margin-bottom: 10px; }

.allergy-create-group-button {
  padding: 10px 10px 10px 0;
  display: flex;
  justify-content: flex-end; }

.react-table-container-padding {
  padding-bottom: 30px; }

.footer-navigation {
  display: flex;
  flex-direction: column;
  transition: all 500ms;
  opacity: 1; }
  .footer-navigation.hidden {
    opacity: 0; }

.footer-main {
  margin: 0 auto;
  width: 1240px; }
  @media (max-width: 1330px) {
    .footer-main {
      width: 100%; } }

.footer-nav {
  display: inline-block;
  vertical-align: top;
  width: 840px; }
  @media (max-width: 1330px) {
    .footer-nav {
      display: none; } }
  .footer-nav ul {
    display: inline-block;
    vertical-align: top;
    width: 280px;
    list-style: none; }

.footer-nav-title {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 14px;
  color: #2d2d2d;
  text-transform: uppercase; }

.footer-nav-link {
  margin: 8px 0; }
  .footer-nav-link a {
    font-size: 13px;
    line-height: 13px;
    color: #2d2d2d; }

.footer-subscribe-social {
  display: inline-block;
  vertical-align: top; }
  @media (max-width: 700px) {
    .footer-subscribe-social {
      padding: 0 8px;
      width: 100%; } }

.footer-sub-title {
  font-size: 14px;
  line-height: 14px;
  color: #2d2d2d;
  font-weight: 400;
  text-align: center; }

.footer-socials {
  margin-top: 10px;
  text-align: center; }

.footer-share {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
  background-image: url("/icons.png"); }
  .footer-share a {
    text-decoration: none;
    color: #333; }
  .footer-share.footer-share-facebook {
    background-position: -16px -27px;
    width: 10px;
    height: 18px; }
  .footer-share.footer-share-instagram {
    background-position: -28px -27px;
    width: 18px;
    height: 18px; }
  .footer-share.footer-share-twitter {
    background-position: -49px -28px;
    width: 18px;
    height: 16px; }

.footer-share:hover {
  background-color: transparent !important;
  color: transparent !important; }

.home-paragraph {
  font-size: 16px;
  margin-bottom: 10px;
  text-align: center; }

.home-paragraph:last-child {
  margin-bottom: 0; }

.get-started-button-spacing {
  padding: 50px 0 0 0;
  display: flex;
  justify-content: center; }

h1 {
  margin: 0 !important;
  padding: 0 !important; }

.conversational-robot-container {
  width: 100%;
  height: 500px;
  display: block; }
  @media (max-width: 1100px) {
    .conversational-robot-container {
      margin-top: 0; } }

.conversational-robot-executed-commands-terminal {
  height: 470px;
  width: 100%;
  background-color: #300a24;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  overflow-y: scroll; }

.conversational-robot-sender-name {
  font-weight: 600;
  color: green;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.conversational-robot-message-text {
  word-break: break-all; }

.conversational-robot-input-field-container {
  background-color: #300a24;
  color: #fff;
  min-height: 30px; }

.conversational-robot-input-field {
  background-color: #300a24;
  color: #fff;
  height: 30px;
  padding: 10px;
  font-size: 16px;
  border: 0;
  width: 100%; }

/*# sourceMappingURL=main.css.map */
